/.env
/database.db
/target/logs/logback.log
/out/production/resources/META-INF/net/dv8tion/jda/api/hooks/annotations.xml
/out/production/resources/META-INF/MANIFEST.MF
/out/production/resources/log4j.properties
/out/production/resources/log4j.xml
/out/production/resources/logback.xml
/META-INF/MANIFEST.MF
/build/reports/problems/problems-report.html
/build/resources/main/META-INF/net/dv8tion/jda/api/hooks/annotations.xml
/build/resources/main/META-INF/MANIFEST.MF
/build/resources/main/log4j.properties
/build/resources/main/log4j.xml
/build/resources/main/logback.xml
/build/tmp/compileJava/compileTransaction/stash-dir/AutoCmdListener.class.uniqueId22
/build/tmp/compileJava/compileTransaction/stash-dir/AutoDisconnectEvent.class.uniqueId45
/build/tmp/compileJava/compileTransaction/stash-dir/BanCmd.class.uniqueId43
/build/tmp/compileJava/compileTransaction/stash-dir/Bot.class.uniqueId25
/build/tmp/compileJava/compileTransaction/stash-dir/CapsWarningModule.class.uniqueId23
/build/tmp/compileJava/compileTransaction/stash-dir/CleanCmd.class.uniqueId47
/build/tmp/compileJava/compileTransaction/stash-dir/ClearCmd.class.uniqueId17
/build/tmp/compileJava/compileTransaction/stash-dir/CmdData.class.uniqueId52
/build/tmp/compileJava/compileTransaction/stash-dir/CommandData.class.uniqueId8
/build/tmp/compileJava/compileTransaction/stash-dir/Config.class.uniqueId49
/build/tmp/compileJava/compileTransaction/stash-dir/ConfigOptions.class.uniqueId9
/build/tmp/compileJava/compileTransaction/stash-dir/CurseWordFilterModule.class.uniqueId56
/build/tmp/compileJava/compileTransaction/stash-dir/EchoCmd.class.uniqueId12
/build/tmp/compileJava/compileTransaction/stash-dir/EventData.class.uniqueId42
/build/tmp/compileJava/compileTransaction/stash-dir/GuildMusicManager.class.uniqueId37
/build/tmp/compileJava/compileTransaction/stash-dir/HelpCmd.class.uniqueId34
/build/tmp/compileJava/compileTransaction/stash-dir/IExecutor.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/JoinCmd.class.uniqueId32
/build/tmp/compileJava/compileTransaction/stash-dir/JumpCmd.class.uniqueId54
/build/tmp/compileJava/compileTransaction/stash-dir/KickCmd.class.uniqueId27
/build/tmp/compileJava/compileTransaction/stash-dir/LeaveCmd.class.uniqueId3
/build/tmp/compileJava/compileTransaction/stash-dir/MuteCmd.class.uniqueId33
/build/tmp/compileJava/compileTransaction/stash-dir/MyDatabase.class.uniqueId50
/build/tmp/compileJava/compileTransaction/stash-dir/NowPlayingCmd.class.uniqueId19
/build/tmp/compileJava/compileTransaction/stash-dir/OnSelfGuildJoin.class.uniqueId26
/build/tmp/compileJava/compileTransaction/stash-dir/OnSelfGuildLeave.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/PauseCmd.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/PingCmd.class.uniqueId51
/build/tmp/compileJava/compileTransaction/stash-dir/PlayCmd.class.uniqueId10
/build/tmp/compileJava/compileTransaction/stash-dir/PlayerManager$1.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/PlayerManager.class.uniqueId44
/build/tmp/compileJava/compileTransaction/stash-dir/PrefixCommands.class.uniqueId55
/build/tmp/compileJava/compileTransaction/stash-dir/PrefixExecutor.class.uniqueId29
/build/tmp/compileJava/compileTransaction/stash-dir/Provider.class.uniqueId39
/build/tmp/compileJava/compileTransaction/stash-dir/Prv$1.class.uniqueId6
/build/tmp/compileJava/compileTransaction/stash-dir/Prv.class.uniqueId38
/build/tmp/compileJava/compileTransaction/stash-dir/QueueListCmd.class.uniqueId20
/build/tmp/compileJava/compileTransaction/stash-dir/ReactionHandler.class.uniqueId53
/build/tmp/compileJava/compileTransaction/stash-dir/ReactionListener.class.uniqueId31
/build/tmp/compileJava/compileTransaction/stash-dir/ResumeCmd.class.uniqueId18
/build/tmp/compileJava/compileTransaction/stash-dir/SetLogChannelCmd.class.uniqueId28
/build/tmp/compileJava/compileTransaction/stash-dir/SetMusicChannelCmd.class.uniqueId13
/build/tmp/compileJava/compileTransaction/stash-dir/SetWelcomeMsgCmd.class.uniqueId14
/build/tmp/compileJava/compileTransaction/stash-dir/ShutdownCmd.class.uniqueId35
/build/tmp/compileJava/compileTransaction/stash-dir/SkipCmd.class.uniqueId41
/build/tmp/compileJava/compileTransaction/stash-dir/SlashCommands.class.uniqueId21
/build/tmp/compileJava/compileTransaction/stash-dir/SlashExecutor.class.uniqueId5
/build/tmp/compileJava/compileTransaction/stash-dir/SlashManager.class.uniqueId11
/build/tmp/compileJava/compileTransaction/stash-dir/TrackScheduler$1.class.uniqueId57
/build/tmp/compileJava/compileTransaction/stash-dir/TrackScheduler.class.uniqueId30
/build/tmp/compileJava/compileTransaction/stash-dir/UnBanCmd.class.uniqueId36
/build/tmp/compileJava/compileTransaction/stash-dir/UnMuteCmd.class.uniqueId48
/build/tmp/compileJava/compileTransaction/stash-dir/UserJoinEvent.class.uniqueId16
/build/tmp/compileJava/compileTransaction/stash-dir/UserJoinModule.class.uniqueId24
/build/tmp/compileJava/compileTransaction/stash-dir/UserLeaveEvent.class.uniqueId46
/build/tmp/compileJava/compileTransaction/stash-dir/UserLeftModule.class.uniqueId15
/build/tmp/compileJava/compileTransaction/stash-dir/VCModule.class.uniqueId7
/build/tmp/compileJava/compileTransaction/stash-dir/WarnCmd.class.uniqueId40
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/shadowJar/MANIFEST.MF
/.gradle/9.0.0/checksums/checksums.lock
/.gradle/9.0.0/executionHistory/executionHistory.bin
/.gradle/9.0.0/executionHistory/executionHistory.lock
/.gradle/9.0.0/fileChanges/last-build.bin
/.gradle/9.0.0/fileHashes/fileHashes.bin
/.gradle/9.0.0/fileHashes/fileHashes.lock
/.gradle/9.0.0/fileHashes/resourceHashesCache.bin
/.gradle/9.0.0/gc.properties
/.gradle/9.3.1/checksums/checksums.lock
/.gradle/9.3.1/checksums/md5-checksums.bin
/.gradle/9.3.1/checksums/sha1-checksums.bin
/.gradle/9.3.1/executionHistory/executionHistory.bin
/.gradle/9.3.1/executionHistory/executionHistory.lock
/.gradle/9.3.1/fileChanges/last-build.bin
/.gradle/9.3.1/fileHashes/fileHashes.bin
/.gradle/9.3.1/fileHashes/fileHashes.lock
/.gradle/9.3.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.gradle/workspace-id.txt
/.gradle/workspace-id.txt.lock
/identifier.sqlite
